# PostgreSQL (Render)
DATABASE_URL=postgresql://user:password@host/database

# Auth
JWT_SECRET=change_me_in_production
JWT_EXPIRATION=86400

# NestJS app config
PORT=3333

# Services externes CHU (multi-service)
CHU_ID=
SERVICE_ID=
ACCUEIL_API_URL=https://acceuil-back-production.up.railway.app/accueil
SERVICE_CHU_API_URL=https://service-chu-back-production-d6a8.up.railway.app/service-chu
ENDOSCOPIE_API_URL=https://endoscopie-api.onrender.com/api
ENDOSCOPIE_SERVICE_ID=
